* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER ----------------------- */

header{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

/* Header Left---------------------------- */

.header-left{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img{
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.header-left ul{
    list-style-type: none;
}

.header-left ul li{
    display: inline-block;
}

.header-left ul li a{
    text-decoration: none;
    color: #c0c0c0;
    margin-right: 30px;
}

.header-left ul li a:hover{
    color: black;
    font-weight: 500;
}

/* Header Right -------------------------- */

.header-right{
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right ul{
    list-style-type: none;
}

.header-right ul li{
    display: inline-block;
    margin-right: 30px;
}

.header-right ul li a{
    text-decoration: none;
    color: #c0c0c0;
}

.header-right ul li a:hover{
    color: black;
    font-weight: 500;
}

/* Menu a tendina----------------------- */

.dropdown-item{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: 33px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 8px 20px;
    display: none;
}

.dropdown-menu a{
    display: block;
    padding: 10px;
    color: red;
}

.dropdown-menu i{
    font-size: 20px;
    color: #c0c0c0;
    margin: 0 10px;
    margin-bottom: 20px;
}

.dropdown-menu i span{
    font-size: 15px;
    color: #c0c0c0;
    text-transform: uppercase;
}

.dropdown-menu.active{
    display: block;
}

.big-container{
    display: flex;
    justify-content: flex-start;
    width: 1000px;
}

.posizione-left{
    left: -400px;
}

.container-menu{
    margin-right: 30px;
}

/* Bottoni------------------ */

.accedi{
    background-color: rgba(25, 28, 31, 0.16);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

.accedi:hover{
    background-color: #a9a9a9;
}

.scarica{
    background-color: rgb(25, 28, 31);
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.scarica:hover{
    background-color: rgba(25, 28, 31, 0.84);
}
